@charset "UTF-8";

h5 {
	font-size: 13px;
}

span {
	font-size: 18px;
	font-family: 'THE오키도키', 'Bad Script';
}

.slide {
	margin-top: 40px;
	margin-left: 180px;
	width: 75%;
}

.slide img {
	height: 500px;
}

#main_phrase {
	margin: 100px 30%;
	font-family: 'Bad Script', cursive;
	font-size: 17px;
	color: rgb(122, 113, 113);
}

#bestitem {
	font-family: "THE오키도키";
	font-size: 30px;
	text-align: center;
}

#woman_best div {
	display: inline-block;
	width: 22%;
}

#man_best div {
	display: inline-block;
	width: 22%;
}

#man_best h2 {
	margin-top: 50px;
}

#bestitem img {
	width: 100%;
}

.hide1 li {
	padding: 0px;
	margin: 0px;
}