@charset "UTF-8";

input {
	background-color: white;
}

#listpage a {
	text-align: center;
	color: #6c757d;
	text-decoration: none;
}

table th, td {
	text-align: center;
}

#listpage {
	margin-bottom: 150px;
}

.bot_line {
	border-bottom: 1px solid #6c757d;
}

.form-control {
	border-color: #6c757d;
}

.page-link {
	color: #6c757d;
	background-color: #fff;
}

.page-link:hover {
	color: #6c757d;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.page-item.active .page-link {
	color: white;
	background-color: white;
	border-color: #6c757d;
}

.page-item.disabled .page-link {
	color: #e5e5e5;
}